/* styles для кейс-задачи № 2 */

/* Общие настройки стилей */
body {
    /* Сброс отступов */
    margin: 0;
    padding: 0;
    /* Позиционирование */
    min-height: 100vh;
    /* Линейный градиент для фона страницы */
    background: linear-gradient(140deg, #111335 0%, #1b1f56 100%);
    /* Шрифт для счетчика */
    font-family: 'Roboto', sans-serif;
    /* Центрирование */
    display: flex;
    /* Выравнивание по горизонтали */
    justify-content: center;
    /* Выравнивание по вертикали */
    align-items: center;
    }

/* Основной блок */
.container {
    /* Центрирование */
    display: flex;
    /* Вертикальное расположение элементов */
    flex-direction: column;
    /* Выравнивание элементов по центру */
    align-items: center;
    /* Ширина основания */
    min-width: 300px;
    /* Высота основания */
    height: 405px;
    /* Фон основания */
    background: linear-gradient(140deg, #2e3c41 0%, #1e282c 100%);
    /* Цвет текста */
    color: white;
    /* Скругление углов (по заданию)*/
    border-radius: 5px;
    /* Расстояние между элементами */
    gap: 20px;
    /* Отступы внутри */
    padding: 30px;
}

/* Стили заголовка */
.title {
    /* Цвет текста - белый */
    color: white;
    /* Размер шрифта */
    font-size: 2.5em;
    /* Сброс отступов */
    margin: 0;
}

/* Стили табло результата */
.result {
    /* Ширина элемента */
    min-width: 220px;
    /* Высота элемента */
    height: 100px;
    /* Фон элемента - "по умолчанию" для значения ноль) */
    background-color: red;
    /* Цвет текста */
    color: white;
    /* Размер шрифта */
    font-size: 4em;
    /* Горизонтальное выравнивание */
    text-align: center;
    /* Вертикальное выравнивание */
    line-height: 100px;
    /* Скругление углов (по заданию)*/
    border-radius: 5px;
    /* Тень для глубины табло */
    box-shadow:inset 3px 3px 5px rgba(0, 0, 0, 0.6);
    /* Смена цвета фона */
    transition: background-color 0.3s ease;
}

/* Контейнер для кнопок */
.Btcontainer {
    /* Использование flexbox для горизонтального расположения кнопок */
    display: flex;
    /* Расстояние между кнопками */
    gap: 20px;
}

/* Стили для всех кнопок */
.bt {
    /* Ширина кнопки */
    width: 100px;
    /* Высота кнопки */
    height: 100px;
    /* Размер шрифта */
    font-size: 4em;
    /* Цвет текста */
    color: white;
    /* Удаление стандартной рамки браузера */
    border: none;
    /* Скругление углов (по заданию) */
    border-radius: 5px;
    /* Курсор в виде указателя при наведении */
    cursor: pointer;
    /* Тень для создания эффекта высоты */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    /* Переход для плавных анимаций */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Стили кнопки "плюс" */
.bt-plus {
    /* Линейный градиент для фона кнопки "плюс" */
    background: linear-gradient(180deg, yellow 0%, #7c7c07 85%);
}

/* Стили кнопки "минус" */
.bt-minus {
    /* Линейный градиент для фона кнопки "минус" */
    background: linear-gradient(180deg, green 0%, #10330a 85%);
}

/* При наведении на кнопку */
.bt:hover:not(:disabled) {
    /* Увеличение при наведении */
    transform: scale(1.1);
    /* Тень при наведении */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

/* При нажатии на кнопку */
.bt:active:not(:disabled) {
    /* Уменьшение при нажатии */
    transform: scale(0.90);
}

/* Стили неактивной кнопки */
.bt:disabled {
    /* Кнопка неактивна */
    opacity: 0.3;
    cursor: not-allowed;
}

/* Стили окна для сообщения об экстремальном значении */
.extr-mess {
    /* Минимальная ширина */
    min-width: 220px;
    /* Высота элемента */
    min-height: 40px;
    /* Внутренние отступы */
    padding: 10px 0px;
    /* Фон элемента */
    background-color: rgb(255, 255, 255);
    /* Тень для глубины окна */
    box-shadow:inset 3px 3px 5px rgba(0, 0, 0, 0.6);
    /* Цвет текста */
    color: rgb(225, 0, 0);
    /* Размер шрифта */
    font-size: 1.0em;
    /* Выравнивание текста по центру */
    text-align: center;
    /* Вертикальное выравнивание текста по центру */
    line-height: 20px;
    /* Скругление углов (по заданию) */
    border-radius: 5px;
}